.cover-image-container img{
    width: 100%;
    height: 300px;
}

.job-head-container{
    background-color: white;
    margin-top:-40px;
}

.job-desc-container{
    background-color: white;
}

.job-display-logo{
    height: 122px;
    width:122px;
}